@{
    ViewData["Title"] = "Contact";
}
<br>
<h2>@ViewData["Title"]</h2>
<br>
<h3>@ViewData["Message"]</h3>

<address>
    1 Russell Long Blvd<br />
    Canyon, TX 79016<br />
    <abbr title="Phone">P:</abbr>
    806.367.3979
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@wtamu.edu">Support@wtamu.edu</a><br />
    
</address>
