@{
    ViewData["Title"] = "Home Page";
}

<br>
<h2>BuffTeks: Where CIS Students can put their skills to use!</h2>
<br>
<img src="/img/buffteks.jpg" alt="buffteks">
<br>
<br>
<p>Do you want to get a good job after you graduate? Then join Buffteks where you can develop the skills to get the job you want. Buffteks meets every Wednesday night in the Classroom Center on the WTAMU campus, room 209.</p>